
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.camisa {
    margin: 10px;
    border: 1px solid #030303;
    padding: 10px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}
