body {
    font-family: Arial, sans-serif;
    background-color: #1efd00;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form {
    background: rgb(250, 247, 247);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
input[type="text"],input[type="password"],input[type="correo"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #030303;
    border-radius: 5px;
}
input[type="button"] {
    background-color: #5cb85c;
    color: rgb(251, 252, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    cursor: pointer;
}
input[type="button"]:hover {
    background-color: #080808;
    cursor:pointer;
}
.apartadores{
display: block;

}